/**Lr**/#afui.xuxubao {
    font-family:"微软雅黑","Slate Pro",Slate,"Myriad Pro","BBAlpha Sans",Helvetica;
    font-size: 12pt;
}

#afui.xuxubao #header {

	height:auto;
}

#afui.xuxubao #header .top_header{
	   /*
	    background:#F97B00;;
	   */
		height:52px;
		background:#fff;
}
/*


#afui.xuxubao #header {
    background:#00609E;
    background:-ms-linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#00609E), color-stop(100%,#00AFEE));
    background:-webkit-linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    background:linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    border-style:solid;
    border-width:1px;
    border-color:#009CE1 transparent #004E92 transparent;
}

*/


/**Lr**/#afui.xuxubao #header h1 {
	/*text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;*/
	font-weight: normal;
	color: #000;
	height: 48px;
	font-size: 26px;
	line-height: 28px;
}
#afui.xuxubao .list {
    font-weight: normal;
}

#afui.xuxubao #backButton{
    background: inherit;
    color:inherit;	
	text-shadow:none;
}


/*
#afui.xuxubao #backButton {
    display: block;
    position: absolute;
    line-height:60px;
    left: 5px;
    text-overflow: ellipsis;
    font-size: 10px;
    padding: 0;
    color: #fff;
    text-shadow: none;
    background-color: transparent;
    border:none;
    border-color: transparent;
    height: 44px;
    top:0;
    border-radius: 0;
    box-shadow:none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    width:50px;
    padding:0 !important;
    margin:0 !important;
}

#afui.xuxubao #backButton::before {
    z-index: -1;
    font-size:22px;
    position: absolute;
    top: -15px;
    left: 15px;
    text-align: center;
    border-radius: 0;
    border: none;
    border-color: transparent;
    box-shadow: none;
    -webkit-transform: none;
    transform: none;
    font-family: 'chevron';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    top:1px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
    background-color: transparent;
}

#afui.xuxubao #backButton::after {
    z-index: -1;
    font-size:24px;
    content: ' ';
    position: absolute;
    font-weight:bold;
    background-color: transparent;
    left:55px;
    height:48px;
    top:-5px;
    width:2px;
    background: #0aa9dc;
    margin:auto;
    text-align: center;
    border-radius: 0;
    border: none;
    border-color: transparent;
    box-shadow: none;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}


*/

#afui.xuxubao #header .button {
    color:#fff;
    background:none;   
	text-shadow:none;
	border-color:transparent;	
}

#afui.xuxubao #header .back_button{
	background:url(../images/back.png) no-repeat center center;
	background-size:40px;
	height:48px;
	line-height:48px;
	margin-left:0px;
	left:10px;
}
#afui .footer{
	height:auto;
}
#afui.xuxubao .footer {
    border:none;
    border-radius:0px;
	background:#fff;   
    padding:0;
    -webkit-box-shadow:none;
    box-shadow: none;
	opacity:0.9;
}

#afui.xuxubao .footer>footer>a:not(.button) {
    height:49px;
    top:0px;
   /* border-top:4px solid #000;*/
   border-top:4px solid #1E1E1E;
    background:#1e1e1e;
}

#afui.xuxubao .footer>footer>a.pressed:not(.button) {
    border:0px;
   
	/*border-top:4px solid #0aa9dc;*/
	border-top:4px solid #3A3A3A;
    border-radius:0px;
    background:#3a3a3a;
    color:white;
}

#afui.xuxubao .footer>footer>a:not(:last-of-type):not(.pressed):not(.button){
    border-right:1px solid black;
}

#afui.xuxubao .footer>footer>a.icon.pressed:not(.button):before {
    color: white;
}

#afui.xuxubao #aside_menu,
#afui.xuxubao #menu {
    border-right:1px solid #ccc;
	/*box-shadow:5px;*/
	box-shadow: -3px 0 3px 0 #ccc inset;
    background: #fff;
    color: #000;
}

#afui.xuxubao #aside_menu .list > li > a,
#afui.xuxubao #menu .list > li > a {
    color:inherit;
}

#afui.xuxubao #aside_menu .list .divider,
#afui.xuxubao #menu .list .divider {
    background:#1e1e1e;
    color:fff;
}

#afui.xuxubao .list .divider {
    background:#eaeaea;
    border-top:none;
    color:black;  
}

#afui.xuxubao #aside_menu .list li, #afui.xuxubao #aside_menu .list .divider, #afui.xuxubao #aside_menu .list li:first-child, #afui.xuxubao #aside_menu .list li:last-child,
#afui.xuxubao #menu .list li, #afui.xuxubao #menu .list .divider, #afui.xuxubao #menu .list li:first-child, #afui.xuxubao #menu .list li:last-child {
    border-bottom-color :#ccc;
}

#afui.xuxubao .button ,
#afui.xuxubao .button-grouped *,
#afui.xuxubao .button-grouped > .button:first-child,
#afui.xuxubao .button-grouped.vertical *,
#afui.xuxubao .button-grouped.vertical >  .button:last-child, 
#afui.xuxubao > #header .button-grouped > .button {
    border-color:#ccc;
}

#afui.xuxubao > #header .button-grouped > .button.pressed {
    background:#07a;
}

#afui.xuxubao .panel {
    background:#fff;
}

#afui.xuxubao .afPopup {
    border: solid 1px #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background:inherit;
    color:inherit;
    padding:0;
}

#afui.xuxubao .afPopup>HEADER{
    font-weight:normal;
    font-size:20px;    
    text-align:center;
    margin:0;
    padding:8px;
    color:white;
    background:#f97b00;
  /*
   border-radius: 2px;
    background:-ms-linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    background:-webkit-gradient(linear, left bottom, right top, color-stop(0%,#00609E), color-stop(100%,#00AFEE));
    background:-webkit-linear-gradient(65deg, #00609E 0%,#00AFEE 100%);
    background:linear-gradient(65deg, #00609E 0%,#00AFEE 100%);    
  */
}

#afui.xuxubao .afPopup>DIV{
    text-align:left;
    padding:10px;
}

#afui.xuxubao .afPopup>FOOTER{
    padding:5px;
}

#afui.xuxubao .afPopup>FOOTER>A#cancel{
    width:120px;
}

#afui.xuxubao .afPopup>FOOTER>A#action{
    width:120px;
}

#afui.xuxubao #af_actionsheet {
    background:white;
    color:inherit;
}

#afui.xuxubao #af_actionsheet a{
    border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #ccc;
    background:#eee;
    color:#111;
}
/*自定义*/

#afui.xuxubao .center{
	text-align:center;	
}
#afui.xuxubao .login_button{
	background:#E64224;  
    color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
	padding: 10px 12px;    
    text-align: center;
    text-decoration: none;
	border-radius:8px;  
	margin-top:20px;
	display:block;

}
#afui #main_panel,#afui #item_panel,#afui #item_detail_panel{
padding:0px;
}
#afui .panel h2{
	color:#000;
}
#afui.xuxubao .top{	
	background:#eaeaea;
	margin:0px -10px 5px -10px;
	padding:0px;	
	
	
	
}
#afui.xuxubao .top .top_ul{
	list-style-type:none;
	width:90%;
	margin:0 auto;
	padding:10px;
}
#afui.xuxubao .top .top_ul li{
	float:left;
	width:33%;
}
#afui.xuxubao .top .top_ul li a{
	display:block;
	width:100%;
	text-decoration:none;
	color:#676767;
	font-weight:bold;
	
	
}
#afui.xuxubao .top .top_ul li a img{
	display:block;
	border:none;
	width:90%;
	margin:0 auto;
}
#afui.xuxubao  .index_content{
	background:#f0f0f0;
}


#afui.xuxubao .top .top_ul li a p{
	text-align:center;
}

#afui.xuxubao .top .top_ul li.zhishi{
	
	
}
#afui.xuxubao .top .top_ul li.wenda{
	
}
#afui.xuxubao .top .top_ul li.xxbmanage{
	
}

#afui.xuxubao #aside_menu, #afui.xuxubao #menu{
	/*background=:#3d3d3d;*/
	background:url(../images/left_bg.png) no-repeat left bottom #Faf9f9;
	color:#fff;
}
#afui.xuxubao #aside_menu .list li, #afui.xuxubao #aside_menu .list .divider, #afui.xuxubao #aside_menu .list li:first-child, #afui.xuxubao #aside_menu .list li:last-child, #afui.xuxubao #menu .list li, #afui.xuxubao #menu .list .divider, #afui.xuxubao #menu .list li:first-child, #afui.xuxubao #menu .list li:last-child{
	border-color:#4A4A4A;

}
#afui > #menu.tabletMenu{
	width:260px;
	
}

/*百科*/
#afui.xuxubao .cate_top{
	background:#E64224;		
	margin:0px -10px 10px -10px;
	height:36px;
	

}
#afui.xuxubao .cate_top_ul{
	list-style-type:none;
	width:98%;
	margin:0 auto;	
	height:36px;
}
#afui.xuxubao .cate_top_ul li{
	float:left;	
	height:36px;
	line-height:36px;
	width:25%;
	text-align:center;
}
#afui.xuxubao .cate_top_ul li a{
	text-decoration:none;
	font-size:15px;	
	color:#7b1502;
	font-family:"Microsoft Yahei";
	display:inline-block;
	width:100%;
	font-weight:bold;
	
}
#afui.xuxubao .cate_top_ul li.more{
	
	color:#f97b00;	
	float:right;
	width:8%;
	border-left:2px solid #eee;		
	

}

#afui .list > li > a{
	padding:14px 20px 14px 10px;
	font-size:13px;	
}

#afui .list > li > a span{
	color:#f97b00;
	
}


/*用户帖子*/
.reply_content .reply_list p{	
	padding:8px 0px 14px 0px;
}
.p_content{
	padding:10px;
}
.forum_content_user{
	background:#E64224;
}
.forum_content_user img{
	padding-right:5px;
	width:44px;
	height:40px;
}
.user_left{
	float:left;
	font-size:13px;
}
.user_left span.user{
	color:#f97b00;
}
.user_right{
	float:right;
}
.user_right span{
	line-height:130%;
	
}
#loadmore{
	width:90%;
	margin:0 auto;
}
/*发表帖子*/
.post_select{
	text-indent:0px;
}
.loading{	
	width:60px;
	height:60px;
	margin:0 auto;	
	margin-top:20px;
}
#afui.xuxubao .cate_top {
	z-index: 99;
}
#afui.xuxubao .cate_top_ul li {
	position: relative;
}
#afui.xuxubao .cate_top_ul li.select span {
	margin-top: 0 auto;
	position: absolute;
	top: 36px;
	left: 50%;
	margin-left: -6px;
	width: 0px;
	height: 0px;
	line-height: 0px;
	border: 6px solid;
	border-color: rgba(230,66,36,1) rgba(230,66,36,0) rgba(230,66,36,0) rgba(230,66,36,0);
}
#afui.xuxubao .cate_top_ul li.select a{
	color: #fff;
	font-weight:bold;
}



/*左侧开始*/
.navcontent{
	width:164px;	
	margin-top:20px;
	margin-left:60px;
}
.navcontent div{
	margin-top:24px;
	text-align:center;
}
/**Lr**/.navcontent a{
	text-decoration:none;
	color:#000;
	text-align:center;
	font-size:18px;
}
/**Lr**/.navcontent div a .font_en{
	font-size:12px;
	margin:0}
.designer{
	color:#fff;
}
.designer .designer_img{
	border-color:#FAF9F9;
	border-radius:90px;
	overflow:hidden;
	width:140px;
	height:140px;
	border:5px solid #eee;
	
}
.designer .designer_img img{
	width:140px;
	height:140px;
}
.designer_name{
	color:#000;
	width:140px;	
}
/**Lr**/.icon_home{
	background:url(../images/nav_home.png) no-repeat left center;
	
	background-size: 25px;
}

.icon_home_select{
	background:url(../images/nav_home_select.png) no-repeat left center;
	
	background-size: 25px;
}

/**Lr**/.icon_order{
	background: url(../images/nav_order.png) no-repeat 4px center;	
	background-size: 16px;
}

.icon_order_select{
	background:url(../images/icon_order_select.png) no-repeat 4px center;
	
	background-size: 16px;
}

/**Lr**/.icon_departuer_city{
	background: url(../images/icon_departuer_city.png) no-repeat 2px center;	
	background-size: 22px;
}

/**Lr**/.icon_departuer_city_select{
	background: url(../images/icon_departuer_city_select.png) no-repeat 2px center;	
	background-size: 22px;
}

/**Lr**/.icon_my_remind{
	background: url(../images/icon_my_remind.png) no-repeat 3px center;	
	background-size: 22px;
}

.icon_my_remind_select{
	background: url(../images/icon_my_remind_select.png) no-repeat 3px center;	
	background-size: 22px;
}

/**Lr**/.icon_my_collection{
	background: url(../images/icon_my_collection.png) no-repeat 2px center;	
	background-size: 25px;
}
.icon_my_collection_select{
	background: url(../images/icon_my_collection_select.png) no-repeat 2px center;	
	background-size: 25px;
}

/**Lr**/.icon_setting{
	background: url(../images/setting.png) no-repeat 3px center;	
	background-size: 23px;
}
.icon_setting_select{
	background: url(../images/icon_setting_select.png) no-repeat 2px center;	
	background-size: 23px;
}

.navcontent .icon_home_select a,.navcontent .icon_order_select a,.navcontent .icon_departuer_city_select a,.navcontent .icon_my_remind_select a,.navcontent .icon_my_collection_select a,.navcontent .icon_setting_select a{
	color:#E64224;
}
#afui .header_menu{
	background:url(../images/menu.png) no-repeat center center;
	background-size:40px;
	height:48px;
	width:48px;
	float:left;
	margin-left:5px;
	
	
	
}